@use "sass:color";
@import "themes/placid";

@function gtkalpha($c, $a) {
  @return string.unquote('alpha(#{$c}, #{$a})');
}

window.bar {
  border-top: 1px solid $bg-urg;
  background-color: $bg;
  color: $fg;
  font-size: 1.1em;
  font-weight: bold;

  label {
    margin: 0 10px;
  }

  button {
    all: unset;
    padding: 0 8px;
    color: $fg;
    background-color: $bg-alt;

    &:hover {
      color: $fg;
      background-color: color.adjust($fg, $alpha: -0.8);
    }

    &:active {
      color: $fg;
      background-color: color.adjust($fg, $alpha: -0.7)
    }
  }

  .mainbox {
    min-height: 30px;
    padding: 8px;
    padding-bottom: 9px;
  }

  .workspaces  {
    background-color: $bg-alt;

    .workspace {
      all: unset;
      background-color: transparent;
      transition: 200ms;

      &:hover {
        color: $fg;
        background-color: color.adjust($fg, $alpha: -0.84);
      }

      &:active {
        color: $fg;
        background-color: color.adjust($fg, $alpha: -0.8)
      }
    }

    .workspace.focused {
      color: $bg;
      background-color: $ac;
    }
  }

  .clients {
    .client {
      all: unset;
      background-color: $bg-alt;
      transition: 200ms;

      &:hover {
        color: $fg;
        background-color: color.adjust($fg, $alpha: -0.84);
      }

      &:active {
        color: $fg;
        background-color: color.adjust($fg, $alpha: -0.8)
      }
    }

    .client.focused {
      color: $fg;
      border-bottom: 2px solid $ac;
    }
  }

  .systray {
    background-color: $bg-alt;

    label {
      all: unset;
    }

    .reveal-button, .item {
      all: unset;
      background-color: transparent;
      padding: 0 8px;
      transition: 200ms;

      &:hover {
        color: $fg;
        background-color: color.adjust($fg, $alpha: -0.84);
      }

      &:active {
        color: $fg;
        background-color: color.adjust($fg, $alpha: -0.8)
      }
    }
  }

  .kblayout {
    background-color: $bg-alt;
  }

  .time {
    background-color: $bg-alt;
  }

  .launcher-button, .control-panel-button {
    transition: 200ms;

    label {
      all: unset;
    }
  }
}
