@use 'sass:string';
@use "sass:color";
@import "themes/placid";

@function gtkalpha($c, $a) {
  @return string.unquote('alpha(#{$c},#{$a})');
}

window.control-panel {
  .mainbox {
    background-color: $bg;
    border: 1px solid #373737;
    margin: 7px;
    padding: 15px;

    label {
      font-size: 13pt;
      color: $fg;
    }

    //separator {
    //  background-color: #ff0000;
    //}

    .notification-list {
      scrollable > viewport {
        all: unset;
      }

      .header {
        .title {
          color: $fg;
          padding-left: 8px;
        }

        .clear-button {
          all: unset;
          color: $fg;
          background-color: transparent;
          padding: 8px;
          transition: 200ms;

          &:hover {
            color: $fg;
            background-color: color.adjust($fg, $alpha: -0.8);
          }

          &:active {
            color: $fg;
            background-color: color.adjust($fg, $alpha: -0.7);
          }
        }
      }

      .empty-massage {
        label {
          font-size: 18pt;
          color: color.adjust($fg, $alpha: -0.5);
        }
      }

      .notification {
        padding: 15px;
        background-color: $bg-alt;

        .header {
          color: gtkalpha($fg, 0.5);
          margin-bottom: 5px;

          .app-name {
            font-weight: bold;
          }

          .time {
            margin-right: 8px;
          }

          .dismiss-button {
            min-width: 0;
            min-height: 0;
          }
        }

        //separator {
        //  background-color: gtkalpha(#ff0000, .1);
        //}

        .content {
          margin-top: 5px;

          .summary {
            font-size: 1.2em;
            color: $fg;
          }

          .body {
            color: gtkalpha($fg, 0.8);
          }

          .image {
            border: 1px solid gtkalpha($fg, .02);
            min-width: 80px;
            min-height: 80px;
            background-size: cover;
            background-position: center;
          }
        }

        .actions {
          margin-top: 5px;

          button {
            margin: 0 3px;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    .audio-sliders {
      padding: 15px;
      background-color: $bg-alt;

      .mute-button {
        all: unset;
        padding: 5px;
        transition: 200ms;

        label {
          transition: 200ms;
        }

        &:hover {
          color: $fg;
          background-color: color.adjust($fg, $alpha: -0.8);
        }

        &:active {
          color: $fg;
          background-color: color.adjust($fg, $alpha: -0.7);
        }

        &.muted > label {
          color: color.adjust($fg, $alpha: -0.5);
        }
      }
    }
  }
}
