@use 'sass:string';
@import "themes/placid";

@function gtkalpha($c, $a) {
  @return string.unquote('alpha(#{$c},#{$a})');
}

window.launcher {
  all: unset;

  .mainbox {
    background-color: $bg;
    border: 1px solid #373737;
    margin: 7px;
    padding: 10px;

    scrollable > viewport {
      all: unset;
    }

    entry {
      all: unset;
      background-color: $bg-alt;
      border: 2px solid transparent;
      padding: 8px 10px 8px 8px;
      margin-bottom: 10px;
      transition: 200ms;

      &:focus {
        border-bottom: 2px solid $ac;
      }
    }

    .app-button {
      all: unset;
      min-width: 0;
      min-height: 0;
      padding: 15px;
      transition: 200ms;
      color: $fg;

      label.name {
        font-weight: bold;
        font-size: 1.1em;
      }

      &:focus {
        color: $bg;
        background-color: $ac;
      }

      &:hover {
        color: $fg;
        background-color: $bg-alt;
      }
    }

    box.not-found {
      padding: 1rem;

      icon {
        font-size: 6em;
        color: gtkalpha($fg, 0.7);
      }

      label {
        color: gtkalpha($fg, 0.9);
        font-size: 1.2em;
      }
    }
  }
}
