@use "sass:string";
@import "themes/placid";
$error: red;

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.notifications {
  all: unset;

  eventbox.notification {
    > box {
      min-width: 400px;
      border-radius: 0;
      border: 1px solid #373737;
      background-color: $bg;
      margin-right: 25px;
      margin-bottom: 10px;
      padding: 15px;
    }

    &:first-child > box {
      margin-top: 25px;
    }

    &.critical > box {
      border: 1pt solid gtkalpha($error, .4);

      .header {
        .app-name {
          color: gtkalpha($error, .8);
        }
      }
    }

    .header {
      color: gtkalpha($fg, 0.5);
      margin-bottom: 5px;

      .app-name {
        font-weight: bold;
      }

      .time {
        margin-right: 8px;
      }

      .dismiss-button {
        all: unset;
        min-width: 0;
        min-height: 0;
        color: $fg;
        background-color: transparent;
        padding: 4px;
        transition: 200ms;

        &:hover {
          color: $bg;
          background-color: $ac;
        }
      }
    }

    .content {
      margin-top: 5px;

      .summary {
        font-size: 1.2em;
        color: $fg;
      }

      .body {
        color: gtkalpha($fg, 0.8);
      }

      .image {
        min-width: 80px;
        min-height: 80px;
        background-size: cover;
        background-position: center;
        margin-right: 5px;
      }
    }

    .actions {
      margin-top: 10px;

      .action-button {
        all: unset;
        color: $fg;
        background-color: $bg-alt;
        margin: 0 3px;
        padding: 5px;
        transition: 200ms;

        &:hover {
          color: $bg;
          background-color: $ac;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
