@use "sass:string";
@import "themes/placid";
$error: red;

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.notifications {
  all: unset;

  .notification {
    min-width: 400px;
    border-radius: 0;
    border: 1px solid #373737;
    background-color: $bg;
    margin-right: 25px;
    margin-left: 25px; 
    margin-bottom: 10px;
    padding: 15px;

    &:first-child {
      margin-top: 25px;
    }

    &:last-child {
      margin-bottom: 25px;
    }

    &.critical {
      border: 1pt solid gtkalpha($error, .4);

      .header {
        .app-name {
          color: gtkalpha($error, .8);
        }
      }
    }

    .header {
      color: gtkalpha($fg, 0.5);
      margin-bottom: 5px;

      .app-name {
        font-weight: bold;
      }

      .time {
        margin-right: 8px;
      }

      .dismiss-button {
        min-width: 0;
        min-height: 0;
      }
    }

    //separator {
    //  background-color: gtkalpha(#ff0000, .1);
    //}

    .content {
      margin-top: 5px;

      .summary {
        font-size: 1.2em;
        color: $fg;
      }

      .body {
        color: gtkalpha($fg, 0.8);
      }

      .image {
        border: 1px solid gtkalpha($fg, .02);
        min-width: 80px;
        min-height: 80px;
        background-size: cover;
        background-position: center;
      }
    }

    .actions {
      margin-top: 5px;

      button {
        margin: 0 3px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
