@use 'sass:string';
@import "themes/placid";

@function gtkalpha($c, $a) {
  @return string.unquote('alpha(#{$c},#{$a})');
}

$radius: 7px;

window.control-panel {
  all: unset;

  .mainbox {
    background-color: $bg;
    border: 1px solid #373737;
    margin: 7px;
    padding: 10px;
  }
}
