@import url("themes/nymph_theme.css");

* {
    font-family: var(--font);
    box-sizing: border-box;
}


body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main {
    width: 800px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(var(--grid_columns), minmax(200px, 1fr));
    grid-template-rows: repeat(var(--grid_rows), minmax(100px, 1fr));
}

main > a {
    text-decoration: none;
    font-size: 26px;
    padding: 20% 0;
    background-color: var(--background_alt);
    color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
}

main > a:hover {
    background-color: var(--accent);
    color: var(--background);
}
