$ac-orange: #D98853;
$ac-red: #CB4A50;
$ac-green: #4AB55F;
$ac-yellow: #DCB75A;
$ac-blue: #5E6FCB;
$ac-magenta: #A856B8;
$ac-cyan: #5FBEDD;

$bg: #0F0F0F;
$bg-alt: #1C1C1C;
$bg-urg: #2F2F2F;
$fg-alt: #5F5F5F;
$fg: #CECECE;
$ac: $ac-cyan;
