$ac-red: #F9AAB6;
$ac-green: #AAF9B0;
$ac-yellow: #F9F7AA;
$ac-blue: #A8C7FA;
$ac-magenta: #DCADF9;
$ac-cyan: #AAF3F9;
$ac-orange: #F9C5AA;

$bg: #171719;
$bg-alt: #252628;
$bg-urg: #3A3A3D;
$fg-alt: #6E6E72;
$fg: #E5E7ED;
$ac: $ac-blue;
