@import url('https://fonts.googleapis.com/css2?family=Jetbrains+Mono:wght@400;500&display=swap');

:root {
    --font: "Jetbrains Mono", monospace;
    --background: #171A1F;
    --background_alt: #24272d;
    --accent: #7AC9E8;
    --foreground: #d9e2f2;
    --grid_columns: 3;
    --grid_rows: 2;
}
